* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --green: #16a34a;
    --dark-green: #087f36;
    --light-green: #effaf1;
    --text: #111827;
    --gray: #6b7280;
    --border: #e5e7eb;
}
body {
    font-family: "Inter", sans-serif;
    color: var(--text);
    background: #ffffff;
}
/* ================= NAVBAR ================= */
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5%;
    border-bottom: 1px solid #eeeeee;
    gap: 40px;
    background: white;
}
.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 260px;
}
.logo-icon {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    color: var(--green);
}
.logo {
    font-size: 22px;
    font-weight: 800;
}
.logo span {
    color: var(--green);
}
.tagline {
    font-size: 11px;
    color: #555;
    margin-top: 2px;
}
.location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
}
.location i {
    color: var(--green);
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
}
.nav-links a {
    text-decoration: none;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    padding: 29px 0 26px;
}
.nav-links a.active {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 25px;
}
.cart {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    color: white;
    font-size: 10px;
    border-radius: 50%;
}
.login-btn {
    border: none;
    background: var(--green);
    color: white;
    padding: 13px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.login-btn:hover {
    background: var(--dark-green);
}
/* ================= HERO ================= */
.hero {
    min-height: 475px;
    display: flex;
    align-items: center;
    padding: 55px 7%;
    position: relative;
    overflow: hidden;
    background:
        linear-gradient(
            100deg,
            #f5fbff 0%,
            #f5fbff 45%,
            #eef9f1 100%
        );
}
.hero-content {
    width: 45%;
    z-index: 2;
}
.hero h1 {
    font-size: 48px;
    line-height: 1.15;
    font-weight: 800;
}
.hero h1 span {
    color: var(--green);
}
.hero p {
    margin-top: 20px;
    color: #4b5563;
    font-size: 17px;
    line-height: 1.6;
    max-width: 500px;
}
/* SEARCH */
.search-box {
    margin-top: 28px;
    height: 55px;
    max-width: 530px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 12px;
    box-shadow:     0 5px 20px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.search-box i {
    margin-left: 18px;
    color: #777;
}
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
}
.search-box button {
    height: 100%;
    border: none;
    background: var(--green);
    color: white;
    padding: 0 28px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.search-box button:hover {
    background: var(--dark-green);
}
/* BENEFITS */
.benefits {
    display: flex;
    gap: 25px;
    margin-top: 35px;
}
.benefit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.benefit-icon {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #e8f7e9;
    color: var(--green);
}
.benefit strong {
    display: block;
    font-size: 13px;
}
.benefit small {
    display: block;
    margin-top: 4px;
    font-size: 10px;
    color: #777;
}
/* ================= STORE ILLUSTRATION ================= */
.hero-image {
    position: relative;
    width: 55%;
    height: 430px;
}
.store-building {
    position: absolute;
    width: 440px;
    height: 330px;
    left: 15%;
    top: 55px;
    background: #d9efd9;
    border-radius: 10px 10px 0 0;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}
.store-board {
    position: absolute;
    width: 240px;
    left: 100px;
    top: -40px;
    padding: 12px;
    background: #d5b36a;
    border: 7px solid #5d4226;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.store-roof {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 55px;
    background:
        repeating-linear-gradient(
            90deg,
            #16863f 0px,
            #16863f 45px,
            white 45px,
            white 90px
        );
    border-radius: 10px 10px 0 0;
}
.store-front {
    position: absolute;
    bottom: 0;
    left: 45px;
    width: 350px;
    height: 230px;
    background: #31281f;
    border: 8px solid #704b2d;
}
.shelf {
    position: absolute;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #8b5e34;
}
.shelf span {
    width: 25px;
    height: 35px;
    background: #e9b84d;
    margin: 10px;
}
.shelf1 {
    top: 15px;
}
.shelf2 {
    top: 80px;
}
.counter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #9a693c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-products {
    font-size: 25px;
}
/* ================= PHONE ================= */
.phone {
    position: absolute;
    right: 0;
    top: 5px;
    width: 220px;
    height: 410px;
    background: #111;
    border-radius: 30px;
    padding: 8px;
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
    z-index: 5;
}
.phone-top {
    width: 80px;
    height: 18px;
    background: #111;
    position: absolute;
    top: 0;
    left: 70px;
    border-radius: 0 0 15px 15px;
    z-index: 10;
}
.phone-content {
    background: white;
    height: 100%;
    border-radius: 24px;
    padding: 30px 12px 55px;
    overflow: hidden;
}
.phone-location {
    font-size: 9px;
    font-weight: 600;
}
.phone-location i {
    color: var(--green);
}
.phone-search {
    margin-top: 12px;
    padding: 9px;
    border-radius: 10px;
    background: #f3f4f6;
    color: #888;
    font-size: 8px;
}
.offer-card {
    margin-top: 12px;
    padding: 12px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #edf8e9;
    font-size: 10px;
}
.offer-card span {
    font-size: 35px;
}
.phone-content h4 {
    font-size: 9px;
    margin-top: 15px;
}
.phone-categories {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.phone-categories span {
    text-align: center;
    font-size: 16px;
}
.phone-categories small {
    display: block;
    font-size: 6px;
}
.mini-store {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    padding: 7px;
    border: 1px solid #eee;
    border-radius: 8px;
}
.mini-store-img {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 6px;
}
.mini-store strong {
    display: block;
    font-size: 8px;
}
.mini-store small {
    display: block;
    font-size: 7px;
    margin-top: 4px;
}
.phone-nav {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    height: 50px;
    background: white;
    border-radius: 0 0 24px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone-nav span {
    font-size: 6px;
    text-align: center;
    color: #777;
}
.phone-nav i {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
}
.phone-nav span:first-child {
    color: var(--green);
}
/* ================= SECTIONS ================= */
.section {
    padding: 35px 7%;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.section-header h2 {
    font-size: 21px;
}
.section-header a {
    color: var(--green);
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
}
/* ================= CATEGORIES ================= */
.categories {
    display: grid;

    grid-template-columns:
        repeat(9, 1fr);

    gap: 18px;
}

.category {
    height: 100px;

    border: 1px solid #eeeeee;

    border-radius: 10px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 8px;

    background: white;

    box-shadow:
        0 3px 10px rgba(0,0,0,0.04);

    transition: 0.2s;

    cursor: pointer;
}

.category:hover {
    transform: translateY(-4px);

    border-color: #b7e8c2;
}

.category-icon {
    font-size: 30px;
}

.category span {
    font-size: 11px;

    font-weight: 500;

    text-align: center;
}

.more-category .category-icon {
    font-size: 20px;
    color: #777;
}



/* ================= STORES ================= */

.stores {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 25px;
}

.store-card {
    border: 1px solid #eeeeee;

    border-radius: 10px;

    overflow: hidden;

    background: white;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.05);

    transition: 0.2s;
}

.store-card:hover {
    transform: translateY(-4px);

    box-shadow:
        0 10px 20px rgba(0,0,0,0.08);
}

.store-image {
    height: 120px;

    position: relative;

    background-color: #725638;

    background-image:
        linear-gradient(
            90deg,
            rgba(30,20,10,.4),
            rgba(150,110,60,.1)
        );
}

.store-one {
    background:
        linear-gradient(120deg,#523c28,#b18a58);
}

.store-two {
    background:
        linear-gradient(120deg,#4b3928,#937250);
}

.store-three {
    background:
        linear-gradient(120deg,#403126,#9b7750);
}

.store-four {
    background:
        linear-gradient(120deg,#55432d,#a8875e);
}

.favorite {
    position: absolute;

    right: 10px;
    top: 10px;

    width: 28px;
    height: 28px;

    border: none;

    background: white;

    border-radius: 50%;

    cursor: pointer;

    font-size: 18px;
}

.store-details {
    padding: 12px;
}

.store-name-row {
    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 5px;
}

.store-name-row h3 {
    font-size: 13px;
}

.rating {
    background: var(--green);

    color: white;

    padding: 4px 7px;

    border-radius: 5px;

    font-size: 10px;

    font-weight: 600;
}

.store-details p {
    margin-top: 8px;

    color: #777;

    font-size: 10px;
}

.store-details i {
    margin-right: 5px;
}



/* ================= FEATURES ================= */

.features {
    margin: 10px 7% 30px;

    padding: 20px 30px;

    border-radius: 10px;

    background: #f2faf2;

    display: grid;

    grid-template-columns:
        repeat(4,1fr);

    gap: 30px;
}

.feature {
    display: flex;

    align-items: center;

    gap: 12px;
}

.feature-icon {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    background: #e2f5e3;

    display: flex;

    align-items: center;
    justify-content: center;

    color: var(--green);
}

.feature strong {
    font-size: 12px;
}

.feature p {
    margin-top: 4px;

    font-size: 9px;

    color: #777;
}



/* ================= FOOTER ================= */

footer {
    padding: 40px 7%;

    background: #111827;

    color: white;

    text-align: center;
}

.footer-logo {
    font-size: 22px;

    font-weight: 800;
}

.footer-logo i {
    color: var(--green);
}

.footer-logo span {
    color: #28c75a;
}

footer > p {
    color: #9ca3af;

    margin-top: 10px;

    font-size: 13px;
}

.footer-links {
    display: flex;

    justify-content: center;

    gap: 25px;

    margin-top: 20px;
}

.footer-links a {
    color: #d1d5db;

    text-decoration: none;

    font-size: 12px;
}

.copyright {
    border-top: 1px solid #374151;

    padding-top: 20px;

    margin-top: 25px !important;
}



/* ================= RESPONSIVE ================= */

@media (max-width: 1100px) {

    .navbar {
        gap: 20px;
    }

    .location {
        display: none;
    }

    .categories {
        grid-template-columns:
            repeat(5, 1fr);
    }

    .stores {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .hero-image {
        transform: scale(.85);
    }

}


@media (max-width: 800px) {

    .navbar {
        height: auto;

        padding: 15px 5%;

        flex-wrap: wrap;
    }

    .nav-links {
        order: 3;

        width: 100%;

        justify-content: center;
    }

    .nav-links a {
        padding: 10px;
    }

    .hero {
        flex-direction: column;

        padding: 50px 6%;
    }

    .hero-content {
        width: 100%;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero-image {
        width: 100%;

        margin-top: 40px;
    }

    .categories {
        grid-template-columns:
            repeat(3, 1fr);
    }

    .features {
        grid-template-columns:
            repeat(2,1fr);
    }

}


@media (max-width: 550px) {

    .logo-section {
        min-width: auto;
    }

    .logo {
        font-size: 18px;
    }

    .nav-actions {
        margin-left: auto;
    }

    .login-btn {
        padding: 10px 12px;
        font-size: 11px;
    }

    .nav-links {
        gap: 10px;
        overflow-x: auto;
    }

    .nav-links a {
        font-size: 11px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .benefits {
        flex-direction: column;
    }

    .hero-image {
        transform: scale(.65);

        width: 150%;

        margin-left: -25%;
    }

    .categories {
        grid-template-columns:
            repeat(2,1fr);
    }

    .stores {
        grid-template-columns:
            1fr;
    }

    .features {
        grid-template-columns:
            1fr;
    }

}
.view-btn {
    width: 100%;
    padding: 9px 12px;

    border: 1px solid #16a34a;
    border-radius: 6px;

    background: #ffffff;
    color: #16a34a;

    font-size: 11px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.view-btn:hover {
    background: #16a34a;
    color: #ffffff;
}